body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-container{
    width: 300px;
    margin: auto;
    padding: 20px; 
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}
h2{
    color: blueviolet;
    text-align: center;
}
label{
    display: block;
    margin: 10px 0 5px; 
    color: rgb(89, 19, 103);
    font-weight: bold; 
}
.input-group {
    display: inline-block;
    margin-right: 10px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
marquee{
    color: #007bff;
    font-size: 1.5em;
    font-weight: bold;
}